/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* generics */

.container80 {
    max-width: 80%;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

.blue-button {
    color: white;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 4px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
}
/* header */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 160, 57);
    height: 70px;
}

.nav-sx,
.nav-dx {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.nav-sx a {
    padding: 0 10px;
}

.nav-dx a {
    padding: 0 10px;
}

/* jumbo */

.blue-container {
    max-width: 100%;
    background-color: rgb(107, 107, 222);
}

.blue-section {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(158, 10, 10);
    height: 500px;

}

.blue-secondary-section {
    display: flex;
    gap: 20px;
}

.blue-section40 {
    max-width: 38%;
    background-color: aquamarine;
    height: 100%;
    margin: 30px 0;
}

.blue-section60 {
    max-width: 60%;
    background-color: rgb(90, 15, 52);
    height: 100%;
    margin: 30px 0;
}

.img-jumbo {
    max-width: 100%;
    height: auto;
}

.prova-gratuita {
    margin: 20px 0;
}



/* debug */

